# Generated website directory
_site/

# Vault
garden/_atlas
garden/_calendar
garden/_cards
garden/_encounters
garden/_spaces/*
!garden/_spaces/school/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride